policy_module(chromium, 1.0.0)


########################################
#
# Declarations
#

attribute_role chromium_roles;
roleattribute object_r chromium_roles;

type chromium_t;
type chromium_exec_t;
type chromium_script_exec_t;
domain_type(chromium_t, chromium_exec_t)
application_domain(chromium_t, chromium_exec_t)
domain_type(chromium_t, chromium_script_exec_t)
application_domain(chromium_t, chromium_script_exec_t)

role chromium_roles types chromium_t;

type download_home_t;
userdom_user_home_content(download_home_t)
ubac_constrained(download_home_t);

gen_require(`
	type chrome_sandbox_home_t;
	type unconfined_dbusd_t;
	type unconfined_service_t;
	type unconfined_t;
	type http_port_t;
	type user_home_t;
	type user_home_dir_t;
	type xserver_misc_device_t;
')

# internal
allow chromium_t self:process { execmem getcap getsched setcap setrlimit setsched sigkill signal signull };
allow chromium_t self:dir { add_name create read remove_name rmdir write };
allow chromium_t self:file { append create execute getattr ioctl lock map open read rename unlink write };
allow chromium_t self:lnk_file { create read unlink };
allow chromium_t self:fifo_file rw_fifo_file_perms;
allow chromium_t self:sem create_sem_perms;
allow chromium_t self:netlink_kobject_uevent_socket client_stream_socket_perms;
allow chromium_t self:user_namespace create;
allow chromium_t self:unix_stream_socket connectto;
allow chromium_t self:cap_userns { sys_admin sys_chroot sys_ptrace };
allow chromium_t self:capability { dac_read_search sys_admin sys_chroot sys_ptrace };
allow chromium_t self:fifo_file { manage_fifo_file_perms relabelfrom relabelto };
allow chromium_t self:process { dyntransition transition };
allow chromium_t self:file manage_file_perms;
allow chromium_t self:dir rw_dir_perms;
allow chromium_t self:socket_class_set create_socket_perms;
allow chromium_t chromium_exec_t:file execute_no_trans;
allow chromium_t chrome_sandbox_home_t:dir { add_name create read remove_name rmdir write getattr open rename search };
allow chromium_t chrome_sandbox_home_t:file { append create execute getattr ioctl lock map open read rename unlink write };
allow chromium_t chrome_sandbox_home_t:lnk_file { create read unlink };
allow chromium_t self:netlink_route_socket nlmsg_read;


# unrestricted homedir access
allow chromium_t user_home_dir_t:dir { read add_name create remove_name write getattr search };
allow chromium_t user_home_dir_t:file { append create getattr lock open read setattr unlink write };
allow chromium_t user_home_t:dir { read add_name search getattr write remove_name };
allow chromium_t user_home_t:file { create open read write rename unlink setattr };


# not covered by interfaces
allow chromium_t http_port_t:tcp_socket { name_connect };
allow chromium_t tmp_t:file { create open unlink write };
allow chromium_t tmp_t:lnk_file { create unlink };
allow chromium_t tmp_t:sock_file { create unlink };
allow chromium_t tmpfs_t:file { create execute unlink map };
allow chromium_t user_tmp_t:file { open };


# xwayland/nvidia
xserver_exec(chromium_t)
allow chromium_t xserver_misc_device_t:chr_file { getattr ioctl map open read write };


files_list_home(chromium_t)
files_search_home(chromium_t)
files_read_usr_files(chromium_t)
files_read_etc_files(chromium_t)
files_watch_etc_dirs(chromium_t)
files_getattr_all_dirs(chromium_t)
files_watch_root_dirs(chromium_t)
files_read_var_lib_files(chromium_t)
files_rw_generic_tmp_dir(chromium_t)
files_manage_generic_tmp_dirs(chromium_t)
files_rw_generic_tmp_sockets(chromium_t)
files_rw_tmp_file_leaks(chromium_t)

kernel_read_system_state(chromium_t)
kernel_read_fs_sysctls(chromium_t)

# required to connect to wayland
unconfined_stream_connect(chromium_t)

# dbus_system_bus_client(chromium_t)
dbus_write_session_tmp_sock_files(chromium_t)
# unconfined_dbus_chat(chromium_t)
devicekit_dbus_chat_disk(chromium_t)
devicekit_dbus_chat_power(chromium_t)
systemd_dbus_chat_hostnamed(chromium_t)

fs_rw_inherited_tmpfs_files(chromium_t)
fs_getattr_xattr_fs(chromium_t)
fs_getattr_tmpfs(chromium_t)
fs_rw_tmpfs_files(chromium_t)
fs_search_cgroup_dirs(chromium_t)
fs_associate_proc(chromium_t)

miscfiles_read_all_certs(chromium_t)
miscfiles_map_generic_certs(chromium_t)
miscfiles_read_localization(chromium_t)
miscfiles_watch_localization_dirs(chromium_t)
miscfiles_read_hwdata(chromium_t)

alsa_read_rw_config(chromium_t)
pulseaudio_tmpfs_content(chromium_t)
pulseaudio_stream_connect(chromium_t)
pulseaudio_read_home_files(chromium_t)
cups_read_config(chromium_t)
cups_stream_connect(chromium_t)

corecmd_exec_shell(chromium_t)
corecmd_exec_bin(chromium_t)

dev_read_sysfs(chromium_t)
dev_rw_dma_dev(chromium_t)
dev_rw_dri(chromium_t)
dev_rw_generic_usb_dev(chromium_t)
dev_read_video_dev(chromium_t)
dev_read_sound(chromium_t)

gnome_search_gconf_data_dir(chromium_t)
gnome_manage_cache_home_dir(chromium_t)
gnome_manage_generic_cache_files(chromium_t)
gnome_manage_generic_cache_sockets(chromium_t)
gnome_map_generic_cache_files(chromium_t)
gnome_manage_home_config(chromium_t)
gnome_manage_home_config_dirs(chromium_t)
gnome_manage_data(chromium_t)
gnome_map_generic_data_home_files(chromium_t)
gnome_manage_gstreamer_home_files(chromium_t)

userdom_write_user_tmp_sockets(chromium_t)
userdom_read_inherited_user_tmp_files(chromium_t)
userdom_manage_home_certs(chromium_t)
userdom_use_user_terminals(chromium_t)
term_search_ptys(chromium_t)

auth_read_passwd_file(chromium_t)

sysnet_read_config(chromium_t)
pcscd_stream_connect(chromium_t)
xserver_use_user_fonts(chromium_t)
xserver_map_user_fonts(chromium_t)

systemd_dbus_chat_hostnamed(chromium_t)
systemd_resolved_watch_pid_dirs(chromium_t)
init_search_pid_dirs(chromium_t)
init_read_state(chromium_t)

corenet_tcp_connect_generic_port(chromium_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		role unconfined_r;
	')

	chromium_run(unconfined_t, unconfined_r)
')
