runcmd dnf install dnf-plugins-core -y
runcmd dnf config-manager --add-repo https://copr.fedorainfracloud.org/coprs/secureblue/branding/repo/fedora-42/secureblue-branding-fedora-42.repo -y
runcmd dnf swap fedora-logos secureblue-logos -y